body {
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;
  background-color: rgb(255, 251, 244);
}

table {
  width: 98%;
  border-collapse: collapse;
  margin: 1rem auto;
  background-color: rgb(255, 245, 248);
}

table,
td,
th {
  border: 1px solid #555;
}

th {
  padding: 0.5rem;
  background-color: rebeccapurple;
  color: white;
}

td {
  padding: 1rem;
}

tr:nth-child(2n) {
  background-color: rgb(243, 243, 253);
}

h1,
h2,
p {
  text-align: center;
}

p {
  padding-bottom: 1rem;
}
